@font-face {
  font-family: 'OpenSans';
  src: url('/assets/fonts/OpenSans/font.woff2') format('woff2'), url('/assets/fonts/OpenSans/font.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins/font.woff2') format('woff2'), url('/assets/fonts/Poppins/font.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
